* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #dbdddf, #d5d3d6);

}

header {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}

._img {
    width: 250px;
    height: 200px;

}




.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container {
    .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background: linear-gradient(135deg, #71b7e6, #171618);
    }
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form {
    .user-details .input-box {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
    }

    .input-box span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .gender-details .gender-title {
        font-size: 20px;
        font-weight: 500;
    }

    .category {
        display: flex;
        width: 80%;
        margin: 14px 0;
        justify-content: space-between;
    }

    .category label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .category label .dot {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 10px;
        background: #5c4e4e;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }

    input[type="radio"] {
        display: none;
    }

    .button {
        height: 45px;
        margin: 35px 0
    }

    .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #676869, #2d2b2e);
    }

    .button input:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #a4a5a7, #e6e2e7);
    }
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #0f0d0f;
    border-color: #d9d9d9;
}


@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(109, 101, 101);
    color: white;
    text-align: center;
}

/* =================================================================================================*/
/* =================================================================================================*/
/* =================================================================================================*/
/* =================================================================================================*/
/* =================================================================================================*/
// Animation css

@mixin boxSize {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.boxes {
    background: gray;
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.oneBox {
    display: grid;
    position: absolute;
}

.ro {
    display: flex;
}

.red {
    @include boxSize;
    background-color: red;
}

.yellow {
    @include boxSize;
    background-color: yellow;
}

.blue {
    @include boxSize;
    background-color: blue;
}

.green {
    @include boxSize;
    background-color: green;
}


.oneBox:hover .red {
    rotate: 90deg;
    margin-right: 100px;
}

.oneBox:hover .yellow {
    rotate: -90deg;
    margin-left: 100px;
}

.oneBox:hover .blue {
    rotate: 100grad;
    margin-right: 100px;
}

.oneBox:hover .green {
    rotate: -100grad;
    margin-left: 100px;
}

h6 {
    position: relative;
}